Axis2Template/wsdl/BizService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://foo.com" xmlns:p="http://bar.org/purchasing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BizService" targetNamespace="http://foo.com">
  <wsdl:types>
    <xsd:schema targetNamespace="http://foo.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://bar.org/purchasing" schemaLocation="purchasing.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="queryRequest">
    <wsdl:part element="p:productQuery" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="queryResponse">
    <wsdl:part element="p:productQueryResult" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="queryInvalidProductId">
  	<wsdl:part name="NewPart" element="p:invalidProductId"/>
  </wsdl:message>
  <wsdl:message name="queryInvalidQty">
  	<wsdl:part name="NewPart" element="p:invalidQty"/>
  </wsdl:message>
  <wsdl:portType name="BizService">
    <wsdl:operation name="query">
      <wsdl:input message="tns:queryRequest"/>
      <wsdl:output message="tns:queryResponse"/>
      <wsdl:fault name="f01" message="tns:queryInvalidProductId"/>
      <wsdl:fault name="f02" message="tns:queryInvalidQty"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BizServiceSOAP" type="tns:BizService">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="query">
    	<soap:operation soapAction="http://foo.com/NewOperation"/>
      		<wsdl:input>
        		<soap:body use="literal"/>
      		</wsdl:input>
      		<wsdl:output>
        		<soap:body use="literal"/>
      		</wsdl:output>
      		<wsdl:fault name="f01" >
				<soap:fault name="f01" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="f02" >
				<soap:fault name="f02" use="literal"/>
			</wsdl:fault>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BizService">
    <wsdl:port binding="tns:BizServiceSOAP" name="BizServiceSOAP">
      <soap:address location="http://localhost:8080/Axis2Template/services/BizService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
