Axis2Template/wsdl/ManualService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:fake.gov:biz/reg" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManualService" targetNamespace="urn:fake.gov:biz/reg">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:fake.gov:biz/reg">
      <xsd:element name="approved" type="xsd:string"/>
	  <xsd:element name="rejected" type="xsd:string"/>
      <xsd:element name="register">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bizName" type="xsd:string"/>
            <xsd:element name="ownerId"	type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registerResponse">
        <xsd:complexType>
          <xsd:choice>
          	<xsd:element ref="tns:approved"/>
          	<xsd:element ref="tns:rejected"/>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="registerRequest">
    <wsdl:part element="tns:register" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="registerResponse">
    <wsdl:part element="tns:registerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ManualService">
    <wsdl:operation name="register">
      <wsdl:input message="tns:registerRequest"/>
      <wsdl:output message="tns:registerResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManualServiceSOAP" type="tns:ManualService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="register">
      <soap:operation soapAction="urn:fake.gov:biz/reg/register"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManualService">
    <wsdl:port binding="tns:ManualServiceSOAP" name="ManualServiceSOAP">
      <soap:address location="http://localhost:8080/Axis2Template/services/ManualService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
