Aixs1QuickStart/WebContent/wsdl/StockQuoteService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://pojo.service.quickstart.samples" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://pojo.service.quickstart.samples" xmlns:intf="http://pojo.service.quickstart.samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://pojo.service.quickstart.samples" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="update">
    <complexType>
     <sequence>
      <element name="symbol" type="xsd:string"/>
      <element name="price" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateResponse">
    <complexType/>
   </element>
   <element name="getPrice">
    <complexType>
     <sequence>
      <element name="symbol" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPriceResponse">
    <complexType>
     <sequence>
      <element name="getPriceReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPriceRequest">

      <wsdl:part element="impl:getPrice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateRequest">

      <wsdl:part element="impl:update" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPriceResponse">

      <wsdl:part element="impl:getPriceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateResponse">

      <wsdl:part element="impl:updateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StockQuoteService">

      <wsdl:operation name="update">

         <wsdl:input message="impl:updateRequest" name="updateRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateResponse" name="updateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPrice">

         <wsdl:input message="impl:getPriceRequest" name="getPriceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPriceResponse" name="getPriceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StockQuoteServiceSoapBinding" type="impl:StockQuoteService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPrice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPriceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPriceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StockQuoteServiceService">

      <wsdl:port binding="impl:StockQuoteServiceSoapBinding" name="StockQuoteService">

         <wsdlsoap:address location="http://localhost:8080/Aixs1QuickStart/services/StockQuoteService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
